body {
  background-color: hsl(30, 38%, 92%);
  height: 100vh;
  display: flex;
}
.carte {
  display: flex;
  background-color: white;
  margin: auto;
  width: 700px;
  border-radius: 7px;
}
.Parfum {
  background-image: url(images/image-product-desktop.jpg);
  flex-basis: 50%;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}
.text {
  flex-direction: column;
  flex-basis: 50%;
  align-content: center;
  padding: 30px;
  gap: 20px;
}
h1 {
  font-size: 2.7em;
  font-family: Fraunces;
  font-weight: 700;
  margin: 20px 0px 50px 0px;
  color: hsl(212, 21%, 14%);
}

h4 {
  font-size: 1.1em;
  font-family: Montserrat;
  font-weight: 700;
  letter-spacing: 10px;
  text-transform: uppercase;
  color: hsl(228, 12%, 48%);
  margin: 10px 0px 30px 0px;
}

p {
  font-size: 1.2em;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 30px;
  margin: 20px 0px 40px 0px;
  color: hsl(228, 12%, 48%);
}
.first {
  font-size: 40px;
  font-family: Fraunces;
  color: hsl(158, 36%, 37%);
  margin-right: 20px;
}
.second {
  font-size: 16;
  font-family: Fraunces;
  font-weight: 500;
  text-decoration: line-through;
  margin-left: 20px;
  color: hsl(228, 12%, 48%);
}
.price {
  display: flex;
  margin: 0px 0px 35px 0px;
  align-items: center;
  justify-content: flex-start;
}

.btn {
  background-color: hsl(158, 36%, 37%);
  padding: 20px 0 20px 0px;
  text-align: center;
  border-radius: 7px;
}

.btn a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  font-family: Montserrat;
  font-weight: 500;
}
.btn i {
  margin-right: 15px;
}

.btn:hover {
  background-color: hsl(158, 89%, 11%);
}

@media screen and (max-width: 375px) {
  .carte {
    flex-direction: column;
    margin: 20px 10px 30px 10px;
    border-radius: 7px;
  }
  .Parfum {
    height: 280px;
    background-image: url(images/image-product-mobile.jpg);
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
  }

  .text {
    padding: 20px;
  x
  }

  h1 {
    font-size: 1.7em;
    margin: 7px 0px 25px 0px;
  }

  h4 {
    font-size: 14px;
    letter-spacing: 5px;
    margin: 0px 0px 10px 0px;
  }

  p {
    font-size: 13px;
    line-height: 20px;
    margin: 15px 0px 30px 0px;
  }

  .price {
    margin: 0px 10px 15px 0px;
  }
}
